<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.url %} active{% endif %}" href="/">Home</a>
    <a class="sidebar-nav-item{% if page.url == site.url %} active{% endif %}" href="/about">About Me</a>
  </nav>

  <div class="sidebar-item">
    <p>
      개인적으로 공부한 내용들을 기록하기 위한 블로그 입니다.
      틀린 내용이 있거나 출처가 불분명한 부분이 있다면 댓글 또는 메일 남겨주세요 :)
    </p>
    <p class="social-icons">
      <a href="{{ site.author.linkedin }}"><i class="fab fa-linkedin-in fa-2x"></i></a>
      <a href="{{ site.author.github }}"><i class="fab fa-github fa-2x"></i></a>
      <a href="mailto:{{ site.author.email }}"><i class="fas fa-envelope fa-2x"></i></a>
      <!-- <a href="/feed.xml"><i class="fa fa-rss fa-2x"></i></a> -->
    </p>
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>